/*  place the 120-px SVG at the bottom, spanning full width   */
.wave-separator{
  position: absolute;
  bottom:-20vh;
  left:0;        
  width: 100%;
  height: 100%;           
  overflow: hidden;      
  line-height: 0;   
  z-index:0;
        
}

/* let the path inherit the “next” colour automatically       */
.wave-separator svg{
  width: 100%; height: 100%;
  display: block;
  
}

/* Add to style.css */
.section-wave{
  display:block;
  width:100%;
  height:750px;          /* divider height (adjust) */
  line-height:0;         /* removes extra whitespace */
}