/* ===== RESET ===== */
*,
*::before,
*::after{ box-sizing:border-box; margin:0; padding:0; }

html{ scroll-behavior:smooth; }
/* master wave styling */


/*
div{  border:5px solid black !important;
}*/




