/* ===== RESET ===== */
*,
*::before,
*::after{ margin:0; padding:0;
 }

html{ scroll-behavior:smooth; 
overflow-x:hidden;}
/* master wave styling */



div{  border:5px solid black !important;
}




